body {
    margin: 0;
}
.row {
font-size: 0;
}
.col {
    display: inline-block;
    padding: 30px;
    width: 25%;
    height: 300px;
    box-sizing: border-box;
    background-color: darkseagreen;
    font-size: 16px;
}
.col:not(:last-child) {
    background-color: pink;
}